header{
	margin: 0;
	border: 0;
	padding: 8px 0;

}

body {
	font-family: 'Averia Serif Libre', cursive;
}
#banner {
	width: 100%;
	height: 50%;
}

.principal{
	background: #E9967A
}

h1 {
	text-align: center;
}

.oi{
	background: #E9967A

}

p {
	text-align: center;
}

.item{
	font-style: italic;

}

h2{
	text-align: left;
	margin-left: 7%
}

ul{
	display: inline-block;
	vertical-align: top;
	margin-right: 15%;
	margin-left: 5%
}

.img{
	width: 50%

}

